.grey-cells-text-01 {
    color: #1a237e!important
}

.around-world-text-02 {
    color: #223a5e  !important
}

.around-world-theme-01 {
    color: #223a5e !important;
    background-color: #c7d5eb!important
}

.around-world-theme-02 {
    color: #fff !important;
    background-color: #1a237e!important
}