.grey-cells-text-01 {
    color: #2b303d !important
}

.grey-cells-text-02 {
    color: #394052 !important
}

.grey-cells-theme-01 {
    color: #fff !important;
    background-color: #636f8e !important
}

.grey-cells-theme-02 {
    color: #fff !important;
    background-color: #2b303d !important
}

.grey-cells:hover {color:#000 !important; background-color:#dfcfbe !important}
.grey-cells-text:hover {color:#dfcfbe !important}
.grey-cells-border:hover {border-color:#dfcfbe !important}